.menu-body {
    color: seashell;
    background: darkslategrey;
}

.title {
    font-family: "Tempus Sans ITC";
    font-size: 10rem;
    margin: 30px auto;
    text-align: center;
}


.button {
    margin-top: 20vh;
    list-style: none;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    left: calc(50% - 125px);
    border: 1px solid orangered;
    background-color: orangered;
    font-size: 24px;
    cursor: pointer;
}

.button--start {
    top: 150px;
}

.button--high-scores {
    top: 250px;
}

.button--about {
    top: 350px;
}