@font-face {
    font-family: pixel;
    src: url("joystix.ttf");
}

@font-face {
    font-family: pixelHeader;
    src: url("MobileFont.ttf");
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: grey;
}

#box {
    background-color: #bac700;
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(25, 1fr);
}

.snake {
    background-color: #2d2a24;
    /*border: .25vmin solid black;*/
}

.food {
    /*background-color: hsl(50, 100%, 50%);*/

    border: .25vmin solid black;
    border-radius: 25px;
    background-color: darkgreen;
}

.slow {
    border: .25vmin solid black;
    border-radius: 25px;
    background-color: darkblue;
}

.bomb {
    background-image: url("bomb.png");
    background-color: hsl(0, 100%, 50%);
    border: .25vmin solid black;
}

.game {
    position: relative;
}

.points {
    font-family: pixel;
    font-size: x-large;
    font-weight: bold;
    top: 10px;
    opacity: 0.8;
    position: absolute;
    color: black;
}

.msg {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #6c7c7c;
    transform: translate(-50%, -50%);
    border-radius: 5px;

}

.myButton {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;

}

.myButton:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}

.myButton:active {
    position: relative;
    top: 1px;
}

table.scoreboard {
  border: 3px solid #000000;
  width: 80%;
  text-align: center;
  border-collapse: collapse;
}
table.scoreboard td, table.scoreboard th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table.scoreboard tbody td {
  font-size: large;

}
table.scoreboard thead {
  background: #5d6204;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #000000;
}
table.scoreboard thead th {
  font-size: xx-large;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.menu-body {
    background: #bac700;
    font-family: pixel;
}

.title {
    font-family: pixelHeader;
    font-size: 10rem;
    margin: 30px auto;
    text-align: center;
    position: fixed;
    top: 5%;
    left: calc(50% - 270px);
}


.button {
    margin-top: 20vh;
    list-style: none;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    left: calc(50% - 125px);
    /*border: 1px solid orangered;*/
    background-color: #5d6204;
    font-size: 24px;
    cursor: pointer;
}

.button--start {
    top: 150px;
}

.button--high-scores {
    top: 250px;
}

.button--about {
    top: 350px;
}

a:link {
    text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
    color: black;
}
a:active {
  text-decoration: none;
}