<!DOCTYPE html>
<html lang="en">

<head>
    <title>Javascript Game</title>
    <link rel="stylesheet" href="../static/stylesheet/style.css" />
    <meta charset="UTF-8">
    <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <script src="../static/game.js" defer type="module"></script>
</head>

<body>

    <div class='game'>

    <div class="box" id='box'></div>
    <h1>Points:</h1>
    <h1 id='points'></h1>
    </div>
</body>

</html>