<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/style.css') }}"/>
    <title>Menu</title>
</head>
<body class="menu-body">
<div class="menu">
    <h1 class="title">FONSZ</h1>
    <ul>
        <li class="button button--start"><a href="{{ url_for('index')}}">Start Game</a></li>
        <li class="button button--high-scores"><a href="{{ url_for('scoreboard')}}">Scoreboard</a></li>
        <li class="button button--about"><a href={{ url_for('about')}}>How to play</a></li>
    </ul>
</div>
</body>
</html>